@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}
body {
  padding-top: 70px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
	}
}


/* variables */

$wpGreen: #30b9a1;
$warmGray: #dcddde;



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  .navbar-inner {
    background-color: $wpGreen;
    background-image: none;
    border: none;
  } 
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	  color: #fff;
	  text-decoration: none;
	  background: none;
	}
}


/* Event Page */

#event {
	.title {
		font-size: 2.25em;
		font-weight:bold;
	}
	.description {
		margin-top:1.25em;
	}
	.bar{
			background:$wpGreen;
			padding-bottom: .35em;
			padding-top: .2em;
			margin-top: 1.25em;
			margin-bottom: 1.75em;
			h1{
				color:#ffffff;
				letter-spacing: .025em;
				margin-bottom: 0px;
				margin-top: 0px;
			}

		}
	h1{
		font-size: 2em;
	  	letter-spacing: 0px;
	  	margin-bottom: 0px;
	  	text-align: center;
	}
	.form-label {
		font-size: 2em;
	  	margin-bottom: 0px;
	  	padding-top: .2em;
	  	text-align: right;
	}


}
#time-place {
		background: $warmGray;
		padding: .75em;
		.map{
			background:white; 
			height:16em;
		}
		.small-title{
			color:#ffffff;
			font-style: italic;
			font-size: .8em;
			margin-top:0em;
			padding-top:0em;
		}
		.content{
			font-weight: bold;
			margin-bottom:.35em;
		}
		hr {
			margin-bottom: .8em;
			margin-top: .9em;
		}

	}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
  	color: #555;
  	&:hover { 
  		background: $wpGreen;
  		color: #ffffff;
  		text-decoration: none;
		}
	} 

	small {
  float: left;
	}

	ul {
  float: right;
  list-style: none;
  	li {
  float: left;
  margin-left: 10px;
		}
	}

}


