<footer class="footer">
  <small>
    A project by
    <a href="http://railstutorial.org/">Code for America</a>
    Team South Bend
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>